.row div{
    height: 10vh;
}

body{
    display: flex
}

.container{
    width: 100vh;
}

.vies{
    border-radius: 100vh;
    height: 5vh;
}

.selected{
    border: 2px solid gold;
}

.p1{
    background-color:burlywood;
}

.p2{
    background-color:black;
}

.p1dam{
    background-color:darkgoldenrod;
}

.p2dam{
    background-color:lightslategray;
}

.colord{
    background-color: brown;
}